<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap5/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Bootstrap Datepicker CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="{{ url_for('static',filename='vendor/fontawesome-free-6/css/all.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom styles -->
    <link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">


    {% block stylesheets %}{% endblock %}

      <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>

  </head>

  <body id="page-top">

    <!-- Let the user know that this page only works properly when JavaScript is enabled. -->
    <noscript>
      <div class="bg-danger text-white text-center" style="width: 100%;">
        <i class="fa fa-exclamation-triangle"></i> &nbsp;<b>JavaScript Required.</b> This page
        doesn't work properly without JavaScript enabled.
      </div>
    </noscript>
    <!-- Navbar -->
    <div class="container-fluid">
      <div class="row">
        {% include "navigation.html" %}
      </div>

      <div class="row">
        <div class="col-lg-2" style="padding-left: 0px;">
          {% include "sidebar.html" %}
        </div>

        <div class="col-10 my-2">
            <div class="card">
              <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}" role="alert" style="width:300px;"> {{ message }}</div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="{{ url_for('invoice.index') }}">Dashboard</a>
                  </li>
                  {% block breadcrumb %}{% endblock %}
                </ol>
                <!-- Page Content -->
                {% block content %}{% endblock %}
              </div>
            </div>
        </div>
      </div>

      <!-- <div class="row">
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © company_name GmbH</span>
            </div>
          </div>
        </footer>
      </div> -->

      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

       <!-- Modal logout dialog -->
      <div class="modal fade" id="logoutModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Logout?</h5>
              <button class="close" type="button" data-dismiss="modal">
                <span>×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you want to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">
                <i class="fa fa-window-close"></i> Cancel
              </button>
              <a class="btn btn-primary" href="{{ url_for('invoice.logout') }}">
                <i class="fa fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Scroll to Top button -->

     <!--Error message modal dialog -->
    <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Bootstrap Datepicker JavaScript -->
    <script src="{{ url_for('static',filename='vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>

    <!-- Core plugin JavaScript -->
    <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts -->
    <script src="{{ url_for('static',filename='js/sb-admin.min.js') }}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script>

      $(function () {
        $('select').selectpicker();
      });

      $(function () {
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
              this.alert('close');
        });
      });

    </script>

    {% block scripts %}{% endblock %}

  </body>
</html>
