{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">{% block title %}Create New Invoice{% endblock %}</li>
{% endblock %}

{% block content %}
  <h1>Generate E-invoice</h1>
  <hr/>

  <div class="row">
    
    <div class="col-md-2">
      <button class="btn btn-info" data-toggle="modal" data-title="Add" data-target="#select-customer"> Select Customer </button>
    </div>
    
    <div class="col-md-2 ml-0">
      <button class="btn btn-danger" id="clear_customer_data" name="clear_customer_data" style="display:none" onclick="clear_customer_details()"> Clear Customer </button>
    </div>
  </div>
  

  <div class="btn-toolbar mt-3 mb-5">
    
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control cust_name" id="customers-name" disabled>
        <small id="emailHelp" class="form-text text-muted">Aleem Khan</small>
      </div>

      <div class="form-group ms-4">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="email" disabled>
        <small id="emailHelp" class="form-text text-muted">example@test.com</small>
 
      </div>

      <div class="form-group ms-4">
        <label for="exampleInputEmail1">Address</label>
        <textarea type="text" class="form-control" id="address" disabled> </textarea>
        <small id="emailHelp" class="form-text text-muted">76185,KA Germany</small>
      </div>

      <div class="form-group ms-4">
        <label for="exampleInputEmail1">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" disabled>
        <small id="emailHelp" class="form-text text-muted">+4958659565659</small>
      </div>

      <div class="form-group ms-4">
        <label for="exampleInputEmail1">Company Name</label>
        <input type="text" class="form-control" id="company_name" disabled>
        <small id="emailHelp" class="form-text text-muted">Example GmbH</small>
      </div>

  </div>

  <div class="btn-toolbar" >
    <div class="form-group">
      <label for="exampleInputEmail1">Your Address</label>
      <textarea type="text" id="your_address" class="form-control" disabled> </textarea>
    </div>
    
    <div class="form-group ms-4">
      <label for="exampleInputEmail1">Date</label>
      <input class="form-control" type="date" id="start-date" name="start-date"  required></input>
    </div>
    
    <div class="form-check form-switch pt-4 ms-4">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault">Send invoice as Email</label>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped" id="products_table">
      <thead id="products_table_header">
        <tr>
          <th>Products</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody id="products-table-body">
      </tbody>
    </table>
  </div>

  <div class="col-md-8" id="price_total" style="display: none">
    <span style="float: right;" id="price_total_span"></span>
  </div>
  
  <div class="d-grid gap-2 d-md-block"">
      <button class="btn btn-success" id="add_products" data-toggle="modal" data-title="Add" data-target="#add_products_invoice" disabled> Add Products </button>
  </div>

  <div class="modal fade" id="select-customer" tabindex="-1">
    <div class="modal-dialog">
      
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Heading">Generate Invoice</h4>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              <span>×</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="customer-name"><b>Customer Name</b></label>
              <select name="select_customers" id="select_customers" class="form-control">
                <option value="-1">---</option>
                {% for customer in customers %}
                    <option value="{{customer.id}}"> {{ customer.name }} </option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="modal-footer ">
            <button class="btn btn-success btn-lg" data-dismiss="modal" style="width: 100%;" onclick="fill_invoice_form();">
              Select
            </button>
          </div>
          
        </div>       
    </div>
  </div>
 
 
  <div class="modal fade" id="add_products_invoice" tabindex="-1">
    <div class="modal-dialog">
      
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Heading">All Products</h4>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              <span>×</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="customer-name"><b>Products</b></label>
              <select class="selectpicker" multiple id="select_products" >
                {% for product in products %}
                    <option value="{{product.id}}" product_price="{{product.price}}"> {{ product.name }} </option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="modal-footer ">
            <button class="btn btn-success btn-lg" data-dismiss="modal" style="width: 100%;" onclick="update_table_with_products();">
              Select
            </button>
          </div>
          
        </div>       
    </div>
  </div>



{% endblock %}

{% block scripts %}
  <script>
      var customer_data = document.getElementById("clear_customer_data");
      var cust_name = document.getElementById("customers-name");
      var address = document.getElementById("address");
      var email = document.getElementById("email");
      var phone_number = document.getElementById("phone_number");
      var your_address = document.getElementById("your_address");
      var clear_customer_data = document.getElementById("clear_customer_data");
      var select_customers = document.getElementById("select_customers");
      var add_products = document.getElementById("add_products");
      var select_products = document.getElementById("select_products");
      var table = document.getElementById("products_table");
      var table_header = document.getElementById("products_table_header");
      var table_body = document.getElementById("products-table-body");
      var price_total = document.getElementById("price_total");
      var price_total_span = document.getElementById("price_total_span");

      function fill_invoice_form(){
        // Fills the invoice form with customers data

        var selected_value = select_customers.options[select_customers.selectedIndex].value;
        if (selected_value != '-1'){
          customer_data.style.display = "block";
          $.ajax({
            type: "GET",
            url: "{{url_for('get_customer_details')}}",
            data: {"customer_id":   selected_value },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result){
              if (!result["ERROR"]){
                cust_name.disabled = !cust_name.disabled;
                cust_name.value = result["name"]
                address.disabled = !address.disabled;
                address.value = result["address"]
                email.disabled = !email.disabled;
                email.value = result["email"]
                phone_number.disabled = !phone_number.disabled;
                phone_number.value = result["phone_number"]
                your_address.disabled = !your_address.disabled;
                add_products.disabled = !add_products.disabled;

              } else{
                cust_name.disabled = true;
                address.disabled = true;
                email.disabled = true;
                phone_number.disabled = true;
                your_address.disabled = true;
                select_customers.disabled = false;
                add_products.disabled = true;
              }
            }
          });
        }
      }

      function clear_customer_details(){
        // clears the form pre-filled/not pre-filled with customers data.
        cust_name.disabled = true;
        cust_name.value = "";
        address.disabled = true;
        address.value = "";
        email.disabled = true;
        email.value = "";
        phone_number.disabled = true;
        phone_number.value = "";
        your_address.disabled = true;
        your_address.value = "";
        clear_customer_data.style.display = "none";
        add_products.disabled = true;
        table_body.innerHTML = "";
        price_total.style.display = 'none';
        price_total_span.innerHTML = ""
    
      }

      function update_table_with_products(){
        var selected = [];
        for (var option of select_products.options) {
          if (option.selected) {
            selected.push([option.text,option.getAttribute("product_price")]);
          }
        }
        table_body.innerHTML = ""; 
        var total = 0
        for (j = 0; j < selected.length; j++) {
          var tbodyTr = document.createElement('tr');
          total = total + parseInt(selected[j][1])
          for (k = 0; k < selected[j].length; k++) {
            var tbodyTd = document.createElement('td');
            tbodyTd.innerHTML = selected[j][k];
            tbodyTr.appendChild(tbodyTd);
          }
          table_body.appendChild(tbodyTr);
        }
        table.appendChild(table_body);
        price_total.style.display = 'block';
        price_total_span.innerHTML = "Total Amount:" + total
      }


  </script>  
{% endblock %}
